@model HubWalks.Bussines.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTelefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroTelefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpfCnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpfCnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteOficial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteOficial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instagram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instagram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedeSocial_1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RedeSocial_1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedeSocial_2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RedeSocial_2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCliente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
